 <!-- Site footer -->
 <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Informacion</h6>
        <p class="text-justify">Nombres <i></i>Toda la informacion</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Herramientas</h6>
        <ul class="footer-links">
          <li><a >Angular</a></li>
          <li><a>Html</a></li>
          <li><a >Css</a></li>
          <li><a >Node js</a></li>
          <li><a>Mongo db</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>No. Carnet</h6>
        <ul class="footer-links">
          <li><a >2020296</a></li>
          <li><a >2020242</a></li>
          <li><a >2020225</a></li>
          <li><a >2020343</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Desarrollado por el grupo No.4 de la seccion IN6BV
     <a >Kinal</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="bi bi-facebook"></i> </a></li>
          <li><a class="linkedin" href="#"><i class="bi bi-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

